// VALUES
$font-size-10px: 62.5%;
$size-1rem: 1rem;
$size-2rem: 2rem;
$size-3rem: 3rem;
$size-4rem: 4rem;
$size-1em: 1em;
$size-2em: 2em;
$size-3em: 3em;
$size-4em: 4em;
$scroll-margin: 120px;